* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
html {
  width: 300px;
  background-color: cadetblue;
}
body {
  font-size: 1.1rem;
  font-family: Lato;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  color: white;
  width: 75vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  /* margin-top: 30vh; */
}

#root h1,
h2 {
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
}

.card li {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* Change City Component  */
.select {
  width: 100%;
  color: black;
  margin: 2vh 0;
  text-align: center;
}

.select select {
  width: 100%;
  padding: 0.4rem;
  border-radius: 2px;
}

/* Change Language Component  */
ul.changeCity {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.activeLang {
  font-weight: bolder;
  text-decoration: underline;
}
